.site-header{
  border-bottom: solid 3px #86c440;
  padding-bottom: 17px;
  @include respond-to-custom-size(null, 1023px){
    .pull-right{
      float: none !important;
    }
  }
  .main-logo{
    padding-top: 27px;
    img{
      width: 100%;
      max-width: 182px;
      height: auto;
    }
  }
  .top-controls{
    margin-top: 40px;
    text-align: right;
    a{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      color: #008eaa;
      @include rem-fallback('font-size',1.4);
      padding: 0 10px;
      position: relative;
      display: inline-block;
      &:first-child:before{
        content: '|';
        position: absolute;
        top: -6px;
        right: -4px;
        font-size: 20px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    i{margin-right: 6px}
  }
  .main-navigation{
    margin-top: 15px;
    .navbar.navbar-default{
      border: none;
      background: transparent;
      margin-bottom: 0;
      min-height: 0;
      #site-navigation{
        padding: 0;
      }
      ul{
        li{
          margin-left: 22px;
          @include respond-to-custom-size(null, 1023px){
            margin: 0;
          }
          a{
            padding: 10px 23px;
            font-family: 'Source Sans Pro';
            font-weight: 600;
            color: #b1b1b1;
            @include rem-fallback('font-size',1.7);
            &:hover{
              color: #008eaa;
            }
          }
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            a{
              background: #86c440;
              color: #ffffff !important;
              border-radius: 7px;
              &:before{
                content: '\f16b';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 19px;
                margin-right: 10px;
              }
              &:hover{
                background: #73ad36;
                color: #ffffff;

              }
            }
            &.current-menu-item.current_page_item{
              a{
                background: #73ad36;
              }
            }
          }
          &.current-menu-item{
            a{
              color: #008eaa;
            }
          }
        }
      }
    }
  }
}