.site-footer {
  .footer-content {
    padding: 17px 0 23px;
    border-top: solid 1px #e4e4e4;
    .footer-menu {
      float: left;
      margin-top: 8px;
      @include respond-to-custom-size(null, 768px){
        float: none;
      }
      ul {
        padding: 0;
        list-style-type: none;
        @include respond-to-custom-size(null, 400px){
          text-align: center;
        }
        li {
          display: inline-block;
          font-family: Lato;
          color: #999999;
          position: relative;
          a {
            padding: 10px 5px;
            color: #999999;
            @include rem-fallback('font-size', 1.3);
            &:hover {
              text-decoration: none;
              color: #008eaa;
            }
          }
          &:after {
            content: '|';
            position: absolute;
            top: 0;
            right: -4px;
          }
          &:first-child{
            a{
              padding-left: 0;
            }
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
    .footer-social {
      float: right;
      @include respond-to-custom-size(null, 768px){
        float: none;
        margin-top: 15px;
      }
      img {
        width: 32px;
        height: 32px;
        margin-right: 3px;
        opacity: 1;
        transition: opacity 0.5s;
        &:hover{
          opacity: 0.4;
        }
      }
    }
  }

}